@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
section {
    min-height: 400px;
}


/* ---- NAVBAR ---- */

.navbar {
    color: #fff;
}

.navbar-brand {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 5px;
}

.navbar-brand:hover {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 5px;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
}

.nav-link:hover {
    color: #fff;
    font-weight: bold;
}


/* ---- Section HOME ---- */

#home {
    color: #fff;
}

#main {
    position: relative;
    z-index: 9999;
    height: 100px;
    margin-top: 110px;
}


/* ---- Footer ---- */

#footer {
    background-color: #000;
    padding-top: 15px;
    color: #fff;
    width: 100%;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    min-height: 450px;
    background-color: #d41d2a;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* Bounce In */

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Buzz */

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Arrow Animated */

.arrow a {
    text-align: center;
    margin: 8% 0;
    text-decoration: none;
    color: #fff;
}

.arrow a:hover {
    text-align: center;
    margin: 8% 0;
    text-decoration: none;
    color: #fff;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
